.wrapper
  width: 400px
  max-width: 100%

.input_wrapper
  position: relative

.border
  width: 100%
  bottom: 0
  left: 0
  height: 2px
  background: c-orange
  box-shadow: 0 0 5px rgba(c-orange, 0.5)
  transition: all .1s ease-out

.input
  display: block
  width: 100%
  background: transparent
  border: 0
  text-shadow: 0 0 5px rgba(c-orange, 0.5)
  outline: 0
  color: c-orange
  font: inherit
  font-size: 32px
  letter-spacing: 3px
  text-align: center
  //text-transform: uppercase

  &:focus ~ .border
    box-shadow: 0 0 10px rgba(c-orange, 0.8)

.button
  display: block
  width: 100%
  border: 2px solid c-orange
  color: c-orange
  background: transparent
  margin-top: 15px
  font: inherit
  font-size: 20px
  letter-spacing: 3px
  padding: 8px 12px
  outline: 0
  box-shadow: 0 0 5px rgba(c-orange, 0.5)
  text-shadow: 0 0 5px rgba(c-orange, 0.5)
  transition: all .1s ease-out
  cursor: pointer

  &:hover
    box-shadow: 0 0 10px rgba(c-orange, 0.8)
    text-shadow: 0 0 10px rgba(c-orange, 0.8)

.orange
  border-color: c-orange
  color: c-orange
  box-shadow: 0 0 5px rgba(c-orange, 0.5)
  text-shadow: 0 0 5px rgba(c-orange, 0.5)

  &:hover
    box-shadow: 0 0 10px rgba(c-orange, 0.8)
    text-shadow: 0 0 10px rgba(c-orange, 0.8)

.cyan
  border-color: c-cyan
  color: c-cyan
  box-shadow: 0 0 5px rgba(c-cyan, 0.5)
  text-shadow: 0 0 5px rgba(c-cyan, 0.5)

  &:hover
    box-shadow: 0 0 10px rgba(c-cyan, 0.8)
    text-shadow: 0 0 10px rgba(c-cyan, 0.8)


.single
  margin-top: 30px

.text,
.peer_id
  color: c-yellow
  font-size: 32px

.text
  text-transform: uppercase

.peer_id
  letter-spacing: 3px
  transition: all .1s ease-out

  height: 40px
  margin-bottom: 30px

  span
    cursor: pointer

    &:hover
      text-shadow: 0 0 10px rgba(c-yellow, 0.8)

    &::selection
      background: rgba(c-yellow, 0.1)
    &::-moz-selection
      background: rgba(c-yellow, 0.1)