// Config ----------------------------------

$spinner-size = 200px;                 // 200px
$spinner-thickness = 4px;              // 4px
$spinner-speed = 1.2s;                 // 1.2s

$spinner-3d = true;                    // true
$spinner-loops = infinite;             // infinite (be careful, save the batteries!)


// Spinner ----------------------------------

.wrapper
  position relative
  margin auto

.spinner 
  position: relative
  margin: auto
  background-clip: padding-box
  top: -50%
  border-radius: 50%
  border: $spinner-thickness solid hsla(0,0%,100%,.1)
  if $spinner-3d 
    // mask smoothens out the anti-aliasing artifacts in the back.
    -webkit-mask: linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 0%, 1) 90%)
    transform-origin: 50% 60%
    transform: perspective($spinner-size) rotateX(66deg)
    animation: spinner-wiggle $spinner-speed $spinner-loops
    

@keyframes spinner-wiggle {
  30% { transform: perspective($spinner-size) rotateX(66deg); }
  40% { transform: perspective($spinner-size) rotateX(65deg); }
  50% { transform: perspective($spinner-size) rotateX(68deg); }
  60% { transform: perspective($spinner-size) rotateX(64deg); }
}


.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  left: -($spinner-thickness);
  top: -($spinner-thickness);
  right: -($spinner-thickness);
  bottom: -($spinner-thickness);
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin $spinner-speed cubic-bezier(.6,.2,0,.8) $spinner-loops,
          spinner-fade $spinner-speed linear $spinner-loops;
}

.spinner:before {
  border-top-color: hsl(190,100%,70%);
}

.spinner:after {
  border-top-color: hsl(50,80%,70%);
  animation-delay: $spinner-speed * 0.25;
}

@keyframes spinner-spin {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-fade {
  20% { opacity: .1; }
  40% { opacity: 1; }
  60% { opacity: .1; }
}